<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1: November 11, 2025</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before</td>
        <td><a href="https://forms.gle/DEnvXjzgfxXWopZEA" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr> 
        <td>9:00</td>  <td>Start - Introduction to the workshop, instructors, helpers, and code of conduct</td> 
      </tr>
      <tr> 
        <td>09:15</td>  <td><b>Data Analysis in R</b>: make sure you checked your setup </td>
      </tr>
      <tr> 
        <td>09:30</td>  <td> Introduction to R and Rstudio</td> 
      </tr>
      <tr> 
        <td>10:30</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>10:45</td>  <td> R basics</td> 
      </tr>
      <tr> 
        <td>12:00</td>  <td>Break</td>
      </tr>
      <tr> 
        <td>12:15</td>  <td>Data Types and Structures</td>
      </tr>
      <tr> 
        <td>1:00</td>  <td>Finish day one</td>
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2: November 12, 2025</h3>
    <table class="table table-striped">
     <tr>
       <td>09:00</td>  <td> Introduction to Dataset</td>
      </tr>
      <tr> 
        <td>10:00</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>10:15</td>  <td> Starting with Data </td> 
      </tr>
      <tr> 
        <td>11:00</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>11:15</td>  <td> Exploring and Understanding Data in R </td> 
      </tr>
      <tr> 
        <td>12:00</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>12:15</td>  <td> Manipulating, Analyzing and Exporting Data (continued)</td> 
      </tr>
      <tr> 
        <td>1:00</td>  <td>Finish day two</td> 
      </tr>
     </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3: November 13, 2025</h3>
    <table class="table table-striped">
     <tr>
       <td>09:00</td>  <td> Data Wrangling and Processing </td>
      </tr>
      <tr> 
        <td>10:00</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>10:15</td>  <td>Advanced Programming Techniques in R</td> 
      </tr>
      <tr> 
        <td>11:00</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>11:15</td>  <td> Loops and Conditions</td> 
      </tr>
      <tr> 
        <td>12:00</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>12:15</td>  <td>Creating Functions</td> 
      </tr>
      <tr> 
        <td>1:00</td>  <td>Finish day three</td> 
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 4: November 14, 2025</h3>
    <table class="table table-striped">
     <tr>
       <td>09:00</td>  <td> Data Visualization in R </td>
      </tr>
      <tr> 
        <td>10:00</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>10:15</td>  <td>Basic Plots</td> 
      </tr>
      <tr> 
        <td>11:00</td>  <td>Break</td> 
      </tr>
      <tr>
       <td>11:15</td>  <td> Advanced Customization Techniques</td>
      </tr>
      <tr> 
        <td>12:00</td>  <td>Break</td> 
      </tr>
      <tr>
       <td>12:15</td>  <td>Creating Publication Figures</td>
      </tr>
      <tr> 
        <td>1:00</td>  <td>Finish day four</td> 
      </tr>
      <tr>               <!-- row 3   -->
        <td>End</td>
        <td><a href="https://forms.gle/XHz7PN6Vp8qxXFyC7" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
